extends /layouts/layout
include /components/header

block body
  .wrapper.wrapper--nobackground
    +header
    main.main-page.main-page--padding
      section.main-page__notes.notes
        h1.notes__title Мои записи
        ul.notes__list
          each article in articles
            li.notes__list-item
              time.notes__item-time(datetime= article.date)= new Date(article.date).toLocaleDateString([`ru`], {hour: `numeric`, minute: `numeric`,})
              a.notes__item-text(href='#')= article.title
              button.notes__button.button.button--close-item(type='button')
                span.visually-hidden Закрыть строку списка
    include /components/footer
