extends /layouts/layout
include /components/header

block body
  .wrapper-color
    +header
    main
      section.search-page
        .search-page__wrapper(class= result ? result.length !== 0 ? '' : 'search-page__wrapper--empty' : '')
          h1 Поиск
          .search.search-page__form
            form(action='/search' method='get')
              label
                input(type='text' name='query' placeholder='Что ищем?')
              button.search__button.button.button--transparent(type='submit') Найти
            if result
              each item in result
                .search__result
                  time.search__date(datetime= item.date)= new Date(item.date).toLocaleDateString([`ru`], {hour: `numeric`, minute: `numeric`,})
                  a.search__link= item.title
              if result.length === 0
                .search-page__empty Ничего не нашлось
    include /components/footer
